.container {
    text-align: center;

}

#loading {
    margin-top: 300px;
    text-align: center;
}

#profile {
    width: 100%;
    background-color: lavender;
}

#profilepic {

    height: 181px;
    margin-top: 20px;

}

#name {
    margin-top: 25px;
}

#main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 700px;

}