.left {
    float: left;
}

.right {
    float: right;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-section {
    background: url('../images/header-background.png');
    position: relative;
    background-size: cover;
    background-color: #f5f5f5;
}

.button {
    background-color: #16a085;
    border: none;
    text-align: center;
    font-weight: bold;
    font-family: Gotham;
    font-size: 8px;
    height: 50px;
    color: white;
    padding: 0px 8px;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: black;
    border-color: transparent;
}

i.fab.fa-twitter,
i.fas.fa-basketball-ball,
i.fab.fa-flickr {
    font-size: 20px;
    color: white;
    margin: 3px;
    transition: all 1s;
}