/* .logo {
    margin-top: 22px;
    margin-bottom: 16px;
    margin-left: 33px;
} */

.logo img {
    height: 52px;
    width: 227px;
}

.searchbar img {
    margin-left: 20px;
    height: 15px;
    width: 185px;
}

.searchbar-img {
    background: url("../images/serchbox.png") no-repeat;

    width: 278px;
    height: 20px;
    margin-top: 20px;
    background-size: 270px;
}

.searchbar-img input {
    height: 15px;
    width: 263px;
    background: transparent;
    border-style: none;
    font-size: 12px;
}

.button {
    margin-top: 20px;
    background: url(../images/button.png) no-repeat, center;
    width: 57px;
    height: 25px;
    background-size: 55px;
}

.button p {
    font-size: 8px;
    color: white;
    padding-top: 6px;
}



.list-name {
    margin-top: 18px;
}

.list-name ul {
    list-style-type: none;
    width: 130px;
    height: 11px;
}

.list-name ul li {
    display: inline;
    font-size: 11px;
}

.title h4 {
    font-size: 14px;
    text-align: right;
}

.banner-text ul {
    padding-left: 0px;
}

.banner-text ul li {
    list-style: none;
    display: inline-block;
    text-align: left;
    padding-right: 5px;
}




.box-icon img {
    width: 11px;
    height: 16px;
    padding-right: 6px;
}

.user-icon.right img {
    width: 17px;
    height: 15px;
    padding-left: 22px;
    padding-top: 0px;
    padding-right: 8px;
}

.user-icon span {
    opacity: 0.3;
}

.policy.left ul li {
    display: inline;
    padding-right: 4px;
    list-style-type: cirlce;

}

.banner-img {
    padding-right: 30px;
}


.main-left-content {
    width: 758px;

}

.main-right-content {
    width: 176px;
}

.recent-search.left {
    background: #f5f5f5;
    height: 604px;
    width: 195px;
}

.recent-title,
.video-title {
    background: #2fc1da;
    height: 14px;
    padding-top: 13px;
    padding-bottom: 15px;
    color: white;

}

.search-downlaod {
    height: 132px;
    font-size: 14px;
}

.search-breadcumb {
    font-size: 13px;
}

.download-elements ul {

    list-style-type: none;
    text-align: left;
    padding-left: 11px;
    width: 180px;

}

.breadcumb-elements ul {

    list-style-type: none;
    text-align: left;
    padding-left: 11px;
    width: 180px;

}

ul.download-ele li {
    padding-top: 16px;
    padding-bottom: 35px;

    font-size: 12px;
}

ul.breadcumb-ele li {
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 12px;

}

ul.download-ele img {
    height: 12px;
    float: right;
}

ul.breadcumb-ele img {
    height: 11px;
    float: right;
}

.video-tuts-element ul {
    list-style: none;
    display: inline;
    font-size: 12px;
    text-align: left;
    padding-left: 0px;
}

.video-tuts-element ul li {
    padding-top: 13px;
    padding-bottom: 32px;
    padding-left: 10px;
    padding-right: 5px;
}

.video-tuts-element {

    background-color: #f5f5f5;
    height: 562px;
}

.video-title h4 {
    font-size: 12px;
}

.entries-title {
    height: 29px;
    margin-bottom: 11px;
}

.entries-title h1 {
    float: left;
    font-size: 25px;
}

.left-curve {
    background: url(../images/entriestitle.png) no-repeat, center;
    height: 67px;
    width: 255px;
    /* opacity: 1.4; */
    background-size: 265px;
    font-size: 11px;
    color: white;
}

.right-curve {
    background: url(../images/entriestitle2.png) no-repeat, center;
    height: 67px;
    width: 258px;
    /* opacity: 1.4; */
    background-size: 258px;
    font-size: 11px;
    color: white;

}



.friend-left {
    background: url(../images/frnd1.png) no-repeat, left;
    width: 115px;
    margin-top: 40px;
    height: 20px;
    margin-left: 11px;
    padding-top: 6px;
}



.friend-right,
.right-friend-right {
    background: url(../images/frnd.png) no-repeat, left;
    width: 115px;
    margin-top: 40px;
    height: 20px;
    margin-left: 3px;
    margin-right: 11px;
    padding-top: 6px;
}


.user-img.left img {
    height: 65px;
    width: 65px;
}

.user-bio.right {
    width: 440px;
    height: 34px;
    font-size: 12px;
    text-align: left;
    line-height: 17px
}

.user-bio.right h4 {
    padding-bottom: 15px;
    font-size: 13px;
}

.subscription {
    padding-bottom: 16px;
}

b.producer {
    color: #2fc1da;

}

span.subs {
    color: green;
}

b.invite {
    color: #d7401d;
}



a:link {
    text-decoration: none;
    color: black;
}